# Transform data
CRSP data, retrieved from WRDS. We are given a list of return-by-stock-by-date, and we want a panel of returns with columns as tickers and rows as dates. We transform the retrieved data then save it.

Did not use yfinance package -- yfinance throttles your download per ticker (time taken in the order of half-hours).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('data/SnP_2016-2019.xlsx')
df.head()

   PERMNO Names Date Ticker Symbol   Returns  Returns without Dividends
0   10104 2016-01-04          ORCL -0.017246                  -0.021352
1   10104 2016-01-05          ORCL -0.003077                  -0.003077
2   10104 2016-01-06          ORCL  0.005051                   0.005051
3   10104 2016-01-07          ORCL -0.021776                  -0.021776
4   10104 2016-01-08          ORCL -0.011130                  -0.011130

In [3]:
df = pd.pivot_table(df, values='Returns', index='Names Date', columns='Ticker Symbol')
df

Ticker Symbol,A,AA,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Names Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,-0.026788,-0.016211,-0.034002,0.011494,0.000855,-0.027515,-0.017742,-0.055826,-0.044088,-0.026701,...,-0.005848,-0.024910,-0.006286,-0.032703,-0.011507,-0.011499,-0.007603,-0.045370,-0.021612,-0.013564
2016-01-05,-0.003441,-0.045314,-0.009533,-0.006831,-0.025059,-0.004166,0.014626,-0.002816,-0.000233,0.010112,...,0.010084,0.014847,0.008521,0.020387,-0.000277,-0.002493,0.020823,-0.025117,-0.010857,0.015655
2016-01-06,0.004439,-0.071197,0.017522,-0.026455,-0.019570,0.000174,-0.015286,0.003529,-0.008388,-0.018628,...,0.010538,-0.018287,-0.008321,-0.014486,-0.012476,-0.007080,0.004330,-0.039957,-0.029145,0.000208
2016-01-07,-0.042475,-0.039489,-0.018918,0.011073,-0.042205,-0.002963,-0.031932,-0.039625,-0.023966,-0.010289,...,0.003842,-0.039448,-0.016006,-0.008785,-0.025828,-0.034116,-0.022993,-0.045316,-0.030020,-0.030404
2016-01-08,-0.010513,-0.024184,-0.001978,-0.021971,0.005288,-0.027268,-0.005785,0.032471,-0.020944,-0.014519,...,-0.010935,-0.020534,-0.020202,-0.028635,-0.009510,-0.013607,-0.004217,-0.002693,-0.011254,-0.014605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,0.000469,NaN,-0.004096,0.003751,0.000951,-0.004432,-0.002103,0.010913,-0.000801,NaN,...,0.003888,-0.004146,-0.003841,0.000525,-0.003927,0.005210,-0.002447,-0.009348,0.003701,0.004155
2019-12-26,0.001758,NaN,0.016792,-0.008096,0.019840,-0.000223,-0.004331,-0.007487,0.000000,NaN,...,-0.001114,0.001929,0.001571,-0.010138,-0.000509,0.014552,-0.002187,0.000354,0.002523,0.000828
2019-12-27,-0.000351,NaN,-0.041456,-0.005776,-0.000379,-0.007013,-0.001646,-0.010175,0.001375,NaN,...,0.005176,-0.002635,-0.003422,0.005484,0.003053,0.001081,-0.001930,0.006210,-0.003097,0.001654
2019-12-30,-0.003980,NaN,-0.004923,0.004863,0.005935,-0.007623,-0.014957,-0.011697,-0.006865,NaN,...,0.002773,-0.007519,-0.005866,-0.007741,-0.001268,-0.012365,-0.008399,-0.007383,0.005243,-0.007805
2019-12-31,0.004829,NaN,0.013428,0.006536,0.007307,0.000226,0.016499,0.019726,0.000691,NaN,...,0.003160,0.000921,0.004318,0.003369,0.000635,0.000894,0.006252,0.005234,0.002897,0.001059

In [4]:
df.columns[df.isnull().any()].shape

(59,)

In [5]:
df.columns[df.isnull().sum()>=5].shape

(55,)

In [6]:
df.columns[df.isnull().sum()>=15].shape

(55,)

Dropping the rows with "too many" NaNs; impute the remaining missing data with zeros (i.e. assuming missing data = no price change for the said stock at that date.)

In [7]:
df = df.drop(df.columns[df.isnull().sum()>=5], axis=1)
df = df.fillna(0)
df.head()

Ticker Symbol,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Names Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,-0.026788,-0.034002,0.011494,0.000855,-0.027515,-0.017742,-0.055826,-0.044088,-0.025550,-0.020971,...,-0.005848,-0.024910,-0.006286,-0.032703,-0.011507,-0.011499,-0.007603,-0.045370,-0.021612,-0.013564
2016-01-05,-0.003441,-0.009533,-0.006831,-0.025059,-0.004166,0.014626,-0.002816,-0.000233,0.005205,0.004023,...,0.010084,0.014847,0.008521,0.020387,-0.000277,-0.002493,0.020823,-0.025117,-0.010857,0.015655
2016-01-06,0.004439,0.017522,-0.026455,-0.019570,0.000174,-0.015286,0.003529,-0.008388,-0.001954,-0.014295,...,0.010538,-0.018287,-0.008321,-0.014486,-0.012476,-0.007080,0.004330,-0.039957,-0.029145,0.000208
2016-01-07,-0.042475,-0.018918,0.011073,-0.042205,-0.002963,-0.031932,-0.039625,-0.023966,-0.029366,-0.020984,...,0.003842,-0.039448,-0.016006,-0.008785,-0.025828,-0.034116,-0.022993,-0.045316,-0.030020,-0.030404
2016-01-08,-0.010513,-0.001978,-0.021971,0.005288,-0.027268,-0.005785,0.032471,-0.020944,-0.009681,-0.014140,...,-0.010935,-0.020534,-0.020202,-0.028635,-0.009510,-0.013607,-0.004217,-0.002693,-0.011254,-0.014605

In [8]:
df.to_excel('data/historical_2016_2019.xlsx')

wanted_names = pd.read_csv('S&P_tickers.txt', header=None)
wanted_names.T.loc[0]